/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgba(233, 234, 236, var(--tw-bg-opacity));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#chat {
  backdrop-filter: blur(6px);
}


#chat-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
#chat-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

/* Handle */
#chat-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(31, 41, 55, 1);
  border-radius: 10px;
}

/* Handle on hover */
#chat-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(11, 21, 35, 1);
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(15px);
  opacity: 0;
}

.slide-fade-b-enter-active {
  transition: all .3s ease;
}
.slide-fade-b-leave-active {
  transition: all .3s ease;
}
.slide-fade-b-enter, .slide-fade-b-leave-to {
  transform: translateY(-15px);
  opacity: 0;
}

.post-fade-enter-active {
  transition: all .7s ease;
}
.post-fade-enter {
  transform: translateY(25px);
  opacity: 0;
}

/* registration */
.registration-first-enter-active {
  transition: all .4s ease;
}
.registration-first-leave-active {
  transition: all .4s ease;
}
.registration-first-enter {
  transform: translateX(-500px);
}
.registration-first-leave-to {
  transform: translateX(-500px);
}

.registration-second-enter-active {
  transition: all .4s ease;
}
.registration-second-leave-active {
  transition: all .4s ease;
}
.registration-second-enter {
  transform: translateX(500px);
}
.registration-second-leave-to {
  transform: translateX(500px);
}

/* edit profile */
.edit-profile-first-enter-active {
  transition: all .4s ease;
}
.edit-profile-first-leave-active {
  transition: all .4s ease;
}
.edit-profile-first-enter {
  transform: translateX(-950px);
  opacity: 0;
}
.edit-profile-first-leave-to {
  transform: translateX(-950px);
  opacity: 0;
}

.edit-profile-second-enter-active {
  transition: all .4s ease;
}
.edit-profile-second-leave-active {
  transition: all .4s ease;
}
.edit-profile-second-enter {
  transform: translateX(950px);
  opacity: 0;
}
.edit-profile-second-leave-to {
  transform: translateX(950px);
  opacity: 0;
}